.btn{
  margin-left:20px;
  width:50px;
  /* color:lightgrey; */
  padding: 5px;
  text-align: center;
}

.startBtn {
  background-color:#16a085;
  color: white;
}

.cancelBtn {
  background-color: #c0392b;
  color: white;
}


.btn:hover {
  cursor: pointer;
  border-radius:15%;
}

body {
  /* background-color: white; */
}