.btn{
  margin-left:20px;
  width:50px;
  /* color:lightgrey; */
  padding: 5px;
  text-align: center;
}

.startBtn {
  background-color:green;
}

.cancelBtn {
  background-color: red;
}


.btn:hover {
  color: black;
  cursor: pointer;
  border-radius:10%;
}

body {
  /* background-color: white; */
}