.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn{
  margin-left:20px;
  width:50px;
  padding: 5px;
  text-align: center;
}

.mssgTitle {
  width: 50%;
  text-align: center;
}

textarea {
  width: 50%;
  margin: auto;
}

.startBtn {
  background-color:#16a085;
  color: white;
}

.cancelBtn {
  background-color: #c0392b;
  color: white;
}


.btn:hover {
  cursor: pointer;
  border-radius:15%;
}

.breakRow {
  display: flex;
}

.textAreaHidden {
  visibility: hidden;
}

.textAreaVisible {
  visibility: visible;
}