.row {
    display:flex;
    justify-content: center;
}

.title {
    width: 50px;
}

.inputHidden, .displayHidden {
    visibility: hidden;
}

.inputVisible, .displayVisible {
    visibility: visible;
}

input, p {
    margin: 20px;
}

.textareaRow {
    display: flex;
}

input {
    text-decoration-line: underline;
    /* border: none; */
}